<div class="container">
    <h1><%= title %> me</h1>
    <table> 
        <tr>
          <th rowspan="5"><img src=" ./content/images/Sw.jpg" width="360"></th>
          <td>Shibo Wang</td>
        </tr>
        <tr>
            <td><a class="downloadfree" href="./content/images/ShiboWang-Resume.pdf">My Resume</a></td>
          </tr>
        <tr>
          <td> As a student of student 
            engineering, who has gained foundational knowledge of SDLC concepts, Agile methodology and has 
            proficiency with multiple programming languages, I believe I can be a valuable addition to your team.</td>
        </tr>
        <tr>
            <td>My school: Centennial College</td>
          </tr>
          <tr>
            <td>My major: Software Engineering Technology</td>
          </tr>
      </table>
      
    
</div>

