<div class="container">
    <h1><%= title %></h1>
    <h2>Welcome to Shibo Wang's Home Page</h2>
    <h4>Mission Statement: To make my life meaningful.</h4>
    <img src=" ./content/images/selfy.jpg" width="580">
    
</div>