<div class="container">
    <h1><%= title %></h1>
    <h4>ACADEMIC PROJECTS:</h4>
    <table> 
        <tr>
          <th colspan="2">Web Design - HTML, JavaScript</th>
          
        </tr>
        <td>Designed a responsive, user-oriented METRIC BMR CALCULATOR for a user to calculate Daily Calorie Needs</td>
        <td><a href="http://studentweb.cencol.ca/swang221/S2A1/assignment1.html"><img src="./content/images/BMR.jpg" width="228"></a></td>
        <tr>
            <th colspan="2">Software Requirements Specification</th>
          
        </tr>
        <td> Collaborated for the planning SRS document for a mobile app that matches pet owners with pet sitters
            Coffee Shop Application - C#, Object-Oriented Technology</td>
        <td><a href="/content/PNP.pdf"><img src="./content/images/pnp.jpg" width="168"></a></td>
        <tr>
            <th colspan="2">C#, Object-Oriented Technology</th>
            
        </tr>
        <td>Created a coffee shop application that allows users to order food and print the receipt from coffee shop
            menu</td>
        <td><img src="./content/images/CoffeeShop.jpg" width="168"></td>

      </table>
    


</div>