<div class="container">
    <h1><%= title %></h1>

    <p class="Ser">As you will see from my attached <a class="downloadfree" href="./content/images/ShiboWang-Resume.pdf">resume</a>, I am currently enrolled in the Software Engineering 
        Technology Advanced Diploma program, specializing in - Artificial Intelligence. To date, my studies have 
        provided me with a thorough background in various areas of software developing such as data 
        structures, algorithms, OOP concepts, coding, designing web, managing source code GIT, and SQL 
        database development. I am skilled with technologies including HTML/CSS, JavaScript, Java, Python, C# 
        Angular and Node.js. As a professional, I am highly collaborative and focused on producing quality 
        results within deadlines. Through my various educational and career pursuits, I have demonstrated a 
        strong technical acumen, passion for troubleshooting/problem-solving and learning.</p>
        <p class="Ser">I can handle programmer, software engineer job.</p>
        <br>
        <img src="./content/images/centen.jpg" alt="Centennial College" width="680">
</div>